<app-header [title]="'About us'" [loggedIn]="false"></app-header>


<main class="body shadow pull-up-3">
    <section class="d-flex flex-column mt-5">
        <section class="d-flex flex-column w-100">
            <p class="">
                NaijaSave is a registered company with Corporate Affairs Commission with head office situated at number 29 Liverpool Road, Apapa Lagos.
            </p>
            
            <p> 
                BN: 3316872
                <br>
                TIN: 244758720001
            </p>
            <p>
                Tell: 09021697229
                Whatsapp: 08136194094
            </p>
    
            <p>
                We’re early industry pioneers and have been around with savings experience, successfully processed more than huge amount of transactions and have happy customers in over all over the country.
            </p>
        </section>
    </section>

    <section class="d-flex flex-column">
        <section class="d-flex flex-wrap align-items-center justify-content-center sponsors-logos">
            <img src="../../../../../assets/images/IMG-20210710-WA0021.jpg" />
            <img src="../../../../../assets/images/IMG-20210710-WA0025.jpg" />
            <img src="../../../../../assets/images/IMG-20210710-WA0026.jpg" />
            <img src="../../../../../assets/images/IMG-20210710-WA0027.jpg" />
            <img src="../../../../../assets/images/IMG-20210710-WA0028.jpg" />
            <img src="../../../../../assets/images/IMG-20210710-WA0029.jpg" />
        </section>
    </section>

    <section class="d-flex flex-column mt-5">
        <p class="pg-header">OUR SPONSOR</p>
        <section class="d-flex flex-wrap align-items-center justify-content-center sponsors-logos">
            <img class="support-img" src="../../../../../assets/UBA-logo-4.gif" />
        </section>
    </section>
</main>
<app-footer></app-footer>