* {
    font-family: source-sans-pro-light;
}

section.sponsors-logos {
    margin: .6em;

    img {
        max-width: 19em !important;
        max-height: 19em !important;
        margin: .6em;
    }
}