<!-- alert -->
<app-alert [message]="feedback" [type]="type" *ngIf="feedback != ''"></app-alert>

<app-header [title]="'Reset Password'" [showAside]="false"></app-header>


<main class="body shadow pull-up-3">

    <section class="mt-5">

        <form *ngIf="!verificationCodeRequested" [formGroup]="form" class="normal-form" fxLayout="column" (ngSubmit)="submit()">
            <mat-spinner [diameter]="20" *ngIf="verifying" mode="indeterminate" class="away-from-right"></mat-spinner>
            <p>A reset code will be sent to the phone number provided</p>
            <section class="form-field d-flex shadow-sm flex-column p-2">
                <label class="label">Phone Number</label>
    
                <section class="input-container d-flex align-items-center">
                   <input formControlName="phoneNumber" class="input flex-grow-1" placeholder="Ex: 08155909541" />
                </section>

                <a *ngIf="form.controls['phoneNumber'].errors?.required" class="clickable danger-text justify-self-end align-self-end text-right">This field is mandatory</a>
            </section>

            <section class="d-flex align-items-end justify-content-end">
                <!-- veification button -->
                <button type="submit" [disabled]="form.invalid" class="main-btn d-flex align-items-center justify-content-center shadow-sm mt-3">Get Reset Code <i class="pi pi-arrow-right ml-2 pl-2"></i></button>
            </section>

        </form>

        <form *ngIf="verificationCodeRequested" [formGroup]="verificationForm" class="normal-form" fxLayout="column" (ngSubmit)="proceed()">
            <p>Please enter the verification code sent to you</p>

            <section class="form-field d-flex shadow-sm flex-column p-2">
                <label class="label">Verification Code</label>
    
                <section class="input-container d-flex align-items-center">
                   <input formControlName="verificationCode" class="input flex-grow-1" placeholder="Ex: 565295" />
                </section>

                <a *ngIf="verificationForm.controls['verificationCode'].errors?.required" class="clickable danger-text justify-self-end align-self-end text-right">This field is mandatory</a>
            </section>

            <section class="d-flex align-items-end justify-content-end">
                <mat-spinner [diameter]="20" *ngIf="verifying" mode="indeterminate" class="away-from-right"></mat-spinner>
                <button class="mgn-e-1-p-1" *ngIf="resendCountdown == 0" (click)="resendVerificationCode()" color='primary'>Resend Verification Code</button>
                <p class="mgn-e-1-p-1" *ngIf="resendCountdown > 0">{{ resendMessage }}</p>
                <button type="submit" [disabled]="verificationForm.invalid" class="main-btn d-flex align-items-center justify-content-center shadow-sm mt-3">Get Reset Code <i class="pi pi-arrow-right ml-2 pl-2"></i></button>
            </section>

        </form>
    </section>

</main>
<app-footer></app-footer>