<!-- alert -->
<app-alert [message]="feedback" [type]="type" *ngIf="feedback != ''"></app-alert>

<app-header [title]="'Reset Password'"></app-header>


<div fxLayout="column" class="margin-point-5em padding-point-8em curved-point-5em big-grey-shadow">

    <form [formGroup]="form" class="normal-form" fxLayout="column" (ngSubmit)="submit()">

        <!-- Password -->
        <section class="form-field d-flex shadow-sm flex-column p-2">
            <label class="label">Password</label>

            <section class="input-container d-flex align-items-center">
                <input formControlName="password" type="number" class="input flex-grow-1" placeholder="Enter new password" />
            </section>

            <a *ngIf="form.controls['password'].errors?.required" class="clickable justify-self-end align-self-end text-right">This field is mandatory</a>
        </section>

        <!-- Password -->
        <section class="form-field d-flex shadow-sm flex-column p-2">
            <label class="label">Confirm Password</label>

            <section class="input-container d-flex align-items-center">
                <input formControlName="confirmPassword" type="number" class="input flex-grow-1" placeholder="Confirm password" />
            </section>

            <a *ngIf="form.controls['confirmPassword'].errors?.required" class="clickable justify-self-end align-self-end text-right">This field is mandatory</a>
        </section>

        <mat-spinner [diameter]="20" *ngIf="settingPassword" mode="indeterminate" class="away-from-right"></mat-spinner>

        <!-- deposit button -->
        <button type="submit" [disabled]="form.invalid" class="main-btn d-flex align-items-center justify-content-center align-self-end justify-self-end shadow mt-3">Reset Password <i class="pi pi-arrow-right ml-2 pl-2"></i></button>

    </form>
</div>
